<div class="controls-container">
    <label *ngIf="placeholder">{{label}}</label>
    
    <input 
           id="{{elementId}}"

           [type]="'password'"
           [attr.maxlength]="maxlength"
           [attr.placeholder]="placeholder"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)">
      <img *ngIf=" isValidationIcon" src="assets/icons/warning-red.svg" >
     <span *ngIf="explanationText">{{explanationText}}</span>
      <!--  <span *ngIf="!valid">{{validationText}}</span> -->
  </div>
  <!-- formControlName = "formControlName" -->
  <!-- !valid && -->